#main {
    background-image: url('../../assets/Rectangle\ 1\ \(1\).png');
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .main__button {
    display: inline-block;
    padding: 15px 40px;
    background: rgba(30, 127, 151, 0.504);
    border: 1px solid rgba(89, 89, 89, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    color:  #DEDDDD;;
    margin-top: 25px;
    text-decoration: none;
}
.main__button:hover {
    background-color: #00b7ff;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}


  .main__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main__info {
    text-align: center;
  }
  
  .main__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
  }
  
  .main__subtitle {
    font-size: 1.5rem;
    color: white;
  }
  
  @media (max-width: 992px) {
    .main__title{
        margin-right: 50px;
    }

    .main__subtitle{
        margin-right: 50px;
    }

  }
  
  
